<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base::common-header(~{::title}, ~{::link})">
    <meta charset="UTF-8">
    <title>Projects</title>
    <link th:href= "@{/css/project.styles.css}" rel="stylesheet" />
    <link th:href= "@{/css/projectlist.styles.css}" rel="stylesheet" />

</head>
<body th:replace="fragments/base::common-body(~{::#project-detail-page},~{}, ~{})">
<!--The header and footer is from the template-->
<div id="project-detail-page">
    <div id="project-list" class="container">
        <section class="project-index" >
            <!--automatically create div-->
            <article class="projectCard-container"> <!--        a kind of foreach in thymeleaf-->
                <a class="project-cover" href="#">
                    <img th:src="@{${'/uploads/'+project.projectCoverImage}}">
                    <div class="color-hr"></div>
                </a>
                <div class="project-content">
                    <h4 th:text="${project.name}"></h4>
                    <p th:text="${project.description}"></p>
                    <div class="btn-wrapper"><a href="#" class="btn btn-secondary project-button">READ MORE</a></div>
                </div>
            </article>
        </section>
    </div>
</div>
</body>
</html>