<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base::common-header(~{::title}, ~{::link})">
    <meta charset="UTF-8">
    <title>Projects</title>
    <link th:href= "@{/css/project.styles.css}" rel="stylesheet" />
    <link th:href= "@{/css/projectlist.styles.css}" rel="stylesheet" />
    <link th:href= "@{/css/projectdetail.styles.css}" rel="stylesheet" />
</head>
<body th:replace="fragments/base::common-body(~{::#project-detail-page},~{}, ~{::script})">
<!--The header and footer is from the template-->
<div id="project-detail-page">
    <div class="project-cover-bg-wrapper"><div class="project-cover-bg" th:style="'background:url(' + @{${'/uploads/'+project.projectCoverImage}} + ');'"></div></div>
    <br>
    <div class="project-layout container">
        <article class="project-detail" style="flex-basis: 66.66%;">
            <h1 th:text="${project.name}"></h1><hr class="mb-3 mt-3">
            <div class="description">
                <p th:text="${project.description}"></p>
                <p th:text="${project.description}+${project.description}+${project.description}+${project.description}"></p>
                <p th:text="${project.description}+${project.description}"></p>
<!-- this will be replaced by map api Todo-->
                <img src="https://www.commonplace.is/hs-fs/hubfs/Vale%20of%20G%20phase%202.png?width=1500&name=Vale%20of%20G%20phase%202.png">
            </div>
        </article>
        <div class="rightContent" style="flex-basis: 33.33%;">
            <article class="projectCard-container">
                <a class="project-cover" th:href="@{${'/community/'+projectCommunity.id}}">
                    <img th:src="@{${'/uploads/'+projectCommunity.getCommunityImage()}}">
                    <div class="color-hr"></div>
                </a>
                <div class="project-content">
                    <h4 th:text="${projectCommunity.name}"></h4>
                    <p th:text="${projectCommunity.description}"></p>
                    <div class="btn-wrapper"><a th:href="@{${'/community/'+projectCommunity.id}}" class="btn btn-secondary project-button">READ MORE</a></div>
                </div>
            </article>
            <article class="projectCard-container" id="fundsContent">
                <div class="project-content">
                    <h4>Project Schedule</h4>
                    <p id="fundsRequired" th:text="'Funds Required: '+${project.fundsRequired}+' GBP'"></p>
                    <p id="fundsCollected" th:text="'Funds Collected: '+${project.fundsCollected}+' GBP'"></p>
                    <div class="progress mb-3 mt-2">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" id="progressbar"></div>
                    </div>
                    <div class="btn-wrapper"><a th:href="@{${'/community/'+projectCommunity.id}}" class="btn btn-secondary project-button">DONATE</a></div>
                </div>
            </article>
        </div>
    </div>
</div>
<script th:src="@{/js/project.detail.js}"></script>
</body>
</html>