<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.com">

<head th:replace="fragments/base::common-header(~{::title}, ~{::link})">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Co-Community</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Creating Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@300;400;500;700;900&display=swap"
          rel="stylesheet">

    <!--Landing css(it will also be commonly shared)-->
    <link th:href="@{/css/landing.style.css}" rel="stylesheet"/>

</head>
<body th:replace="fragments/base::common-body(~{::#landing},~{} ,~{::script})">

<div id="landing">
    <!--Section for the company banner-->
    <section class="companyBanner">
        <div class="companyBannerMainContent">
            <h2>LATEST NEWS IN YOUR COMMUNITY</h2>
            <h3></h3>
            <div class="community-info__container">
                <div class="CompanyCurrentNewsHeadlines">
            <!-- This div will show the community name.-->
                </div>
                <div class="companyBannerSubContent">
            <!--This div will show community images-->
                </div>
            </div>
        </div>
    </section>

    <hr>

    <!--PROJECTS HERE-->
    <section class="displayProjects">
        <h3>Upcoming Community Projects</h3>
        <button type="button" name="buttonProject">
            <a th:href="@{/projects}">More Info</a>
        </button>
        <div class="project-info__container">

            <div class="projectNameContainer">

            </div>

            <div class="projectImageContainer">

            </div>

        </div>


    </section>

    <hr>

    <!--EVENTS HERE-->
    <section class="displayEvents">
        <h3>Upcoming Events</h3>
        <button type="button" name="buttonEvent">
            <a th:href="@{/events}">More Info</a>
        </button>
        <div class="event-info__container">

            <div class="eventNameContainer">

            </div>

            <div class="eventImageContainer">

            </div>

        </div>


    </section>

    <!-- link for Fontawesome -->
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>

</div>
<script th:src="@{/js/base.landing.js}" async defer></script>
</body>
</html>