<!DOCTYPE html>
<html lang="en" class="no-js" xmlns:th="http://www.thymeleaf.com">

<head th:replace="fragments/base::common-header(~{::title}, ~{::link})">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title >Co-Community</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Creating Google Fonts -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Raleway:wght@300;400;500;700;900&display=swap" rel="stylesheet">

    <!--Landing css(it will also be commonly shared)-->
    <link th:href= "@{/css/base.landing.css}" rel="stylesheet" />

</head>
<body th:replace="fragments/base::common-body(~{::#landing},~{} ,~{::script})">

<div id="landing">
    <!--Section for the company banner-->
    <section class="companyBanner">
        <div class="companyBannerMainContent">
            <h2>LATEST NEWS IN YOUR COMMUNITY</h2>
            <h3>Upcoming Community Projects</h3>

            <button type="button" name="button">
                <a href="#">More Info</a>
            </button>
            <div class="CompanyCurrentNewsHeadlines">
                <h3>Cardiff Center: Expanding diversity in the community.
                    <span>by Dan Allen</span></h3>

                <h3>Cardiff's Community club: Ways to improve our community.
                    <span>by Sarah West</span></h3>

                <h3>Cardiff Christmas Fair 2021: The highlight high-life.
                    <span>by David Ohimain</span></h3>

                <h3>The beauty in our community
                    <span>by Dan Allen</span></h3>
            </div>
        </div>

        <div class="companyBannerSubContent">
            <div class="importantTopic">
                <img th:src="@{images/landing-page/AntiVaccinationProtest.jfif}" alt="Anti vaccination Protest Photo">
                <div class="importantTopicContent">
                    <h2>Anti Vaccination Protest</h2>

                    <h3>New Topic 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore .</p>
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="importantTopic">
                <img th:src="@{images/landing-page/AntiVaccinationProtest.jfif}" alt="Anti vaccination Protest Photo">
                <div class="importantTopicContent">
                    <h2>Anti Vaccination Protest</h2>

                    <h3>New Topic 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore.</p>
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="importantTopic">
                <img th:src="@{images/landing-page/AntiVaccinationProtest.jfif}" alt="Anti vaccination Protest Photo">
                <div class="importantTopicContent">
                    <h2>Anti Vaccination Protest</h2>

                    <h3>New Topic 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore.</p>
                    <a href="#">Read More</a>
                </div>
            </div>

            <div class="importantTopic">
                <img th:src="@{images/landing-page/AntiVaccinationProtest.jfif}" alt="Anti vaccination Protest Photo">
                <div class="importantTopicContent">
                    <h2>Anti Vaccination Protest</h2>

                    <h3>New Topic 1</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                        sed do eiusmod tempor incididunt ut labore.</p>
                    <a href="#">Read More</a>
                </div>
            </div>
        </div>
    </section>

    <hr>

    <main>
        <section class="companyMainContainerLeft">
            <h2>Top Stories</h2>
            <div class="companyContainerTopLeft">
                <article class="">
                    <img th:src="@{images/landing-page/tvReview.jfif}" alt="TV Review Photo">

                    <div>
                        <h3>TV Community Review</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                        <a href="#">Read More
                            <span>>></span></a>
                    </div>
                </article>
            </div>

            <div class="companyContainerBottomLeft">
                <article>
                    <img th:src="@{images/landing-page/tvReview.jfif}" alt="TV Review Photo">

                    <div>
                        <h3>Election in Cardiff</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#">Read Me
                            <span>>></span></a>
                    </div>
                </article>

                <article>
                    <img th:src="@{images/landing-page/tvReview.jfif}" alt="TV Review Photo">

                    <div>
                        <h3>Election in Cardiff</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#">Read Me
                            <span>>></span></a>
                    </div>
                </article>

                <article>
                    <img th:src="@{images/landing-page/tvReview.jfif}" alt="TV Review Photo">

                    <div>
                        <h3>Summer Fair in Cardiff</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#">Read Me
                            <span>>></span></a>
                    </div>
                </article>
                <article>
                    <img th:src="@{images/landing-page/tvReview.jfif}" alt="TV Review Photo">

                    <div>
                        <h3>Winter Fair in Cardiff</h3>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                        <a href="#">Read Me
                            <span>>></span></a>
                    </div>
                </article>
            </div>
        </section>

        <section class="companyMainContainerRight">
            <h2>Latest Stories</h2>

            <article>
                <h4>Latest Alert</h4>
                <div>
                    <h2>Covid Vacination: Visit you nearest Walk-in center</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <a href="#">Read More <span>>></span></a>
                </div>
                <img th:src="@{/images/landing-page/cityCentre.jfif}" alt="">
            </article>

            <article>
                <h4>Latest Alert</h4>
                <div>
                    <h2>Covid Vacination: Visit you nearest Walk-in center</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <a href="#">Read More <span>>></span></a>
                </div>
                <img th:src="@{/images/landing-page/cityCentre.jfif}" alt="">
            </article>

            <article>
                <h4>Latest Alert</h4>
                <div>
                    <h2>Racial Bullying: Visit you nearest Walk-in center</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <a href="#">Read More <span>>></span></a>
                </div>
                <img th:src="@{/images/landing-page/cityCentre.jfif}" alt="">
            </article>

            <article>
                <h4>Latest Alert</h4>
                <div>
                    <h2>Covid Vacination: Visit you nearest Walk-in center</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <a href="#">Read More <span>>></span></a>
                </div>
                <img th:src="@{/images/landing-page/cityCentre.jfif}" alt="">
            </article>

            <article>
                <h4>Latest Alert</h4>
                <div>
                    <h2>Covid Vacination: Visit you nearest Walk-in center</h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>

                    <a href="#">Read More <span>>></span></a>
                </div>
                <img th:src="@{/images/landing-page/cityCentre.jfif}" alt="">
            </article>
        </section>
    </main>

    <!-- link for Fontawesome -->
    <script src="https://kit.fontawesome.com/dbed6b6114.js" crossorigin="anonymous"></script>

</div>
<script th:src="@{/js/base.landing.js}" async defer></script>
</body>
</html>