#base.landing.css
    /*
    creator: c21116175

    References for davidMaster.css
    font-family: 'Montserrat', sans-serif;
    font-family: 'Raleway', sans-serif;
    */
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root{
    --heading:
            'Montserrat',
            sans-serif;
}

body{
    font-family: 'Raleway',sans-serif;
    background: #fff;

}
/*Universal Styling*/
img{
    width: 100%
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #000;
}
hr{
    width: 95vw;
    margin: 0 auto;
}
/*Header css*/
.topHeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    background: #252525;
    color:#fff;
    padding: 20px 30px;
}
.topHeader .fas{
    font-size: 2rem;
    cursor: pointer;
}

/*
JS Styling
*/
.timesBtn{
    display: none;
}
.navBar{
    background:#333;
    height: 0;
    overflow: hidden;
}
.show-nav{
    height: auto;
}
.navBar ul li {
    text-align: center;
    display: block;
    padding:15px 0;
    transition: all 0s ease-in-out;
}
.navBar ul li:hover{
    background: #0e0e0e;
}
.navBar ul li a{
    color: #fff;
    text-transform: uppercase;
}
.navBar ul li a:hover{
    text-decoration: underline;
}
/*BODY container css*/
.body__container{
    min-height: 70vh;
}
/*Social Media ICONS*/
.socialMediaIcons{
    display: none;
}
/* Company Banner*/
.companyBanner{
    min-height: auto;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 30px 0;
    margin-top: 8px;
}
.companyBannerMainContent{
    padding: 0 2rem;
    line-height: 1.7;
}

.companyBannerMainContent h2{
    font-size: 2rem;
    font-family: var(--heading);
}

.companyBannerMainContent h3{
    padding: 1rem 0;
}

.companyBannerMainContent button{
    border: none;
    background: #252525;
    padding: 14px 18px;
    font-size:1.2rem;
    font-family: 'Montserrat', sans-serif;
    transition: background 1s ease;
}

.companyBannerMainContent button a{
    color:#f3f3f3f3;
    transition: color 1s ease;
}

.companyBannerMainContent button:hover{
    background: #fff;
}

.companyBannerMainContent button a:hover {
    color: #0d0a0b;
}

.CompanyCurrentNewsHeadlines, .projectNameContainer, .eventNameContainer {
    background: #fff;
    padding:20px;
    font-size: 12px;
    margin: 20px 0;
    width: 25%;
}

.CompanyCurrentNewsHeadlines a, .projectNameContainer a, .eventNameContainer a {
    padding: 6px;
    cursor: pointer;
    position: relative;
    font-size: 1.6rem;
    display: block;
    font-weight: bold;
    text-decoration: underline;
}

.CompanyCurrentNewsHeadlines h3:hover::before, .projectNameContainer h3:hover::before, .eventNameContainer h3:hover::before {
    content:">> ";
    position: absolute;
    left: -12px;
}

.CompanyCurrentNewsHeadlines span, .projectNameContainer span, .eventNameContainer span {
    display: block;
    font-family: var(--heading);
    font-weight: 300;
    text-transform: uppercase;
}

.importantTopic{
    overflow: hidden;
    position: relative;
    width:100%;
    padding: 12px;
    height: 300px;
}

.importantTopic img{
    display: block;
}

.importantTopicContent{
    position: absolute;
    bottom: 0;
    left: 20px;
    right: 20px;
    padding: 10px 20px;
    line-height: 1.3;
    color:#f3f3f3;
}

.importantTopic h2{
    padding: 10px 0;
    font-size: 18px;
    text-shadow: 0 0 2px #000;
}

.importantTopic a{
    padding: 10px 0;
    font-size: 16px;
    text-shadow: 0 0 2px #000;
}

.importantTopic p{
    padding: 10px 0;
    font-size: 15px;
    text-shadow: 0 0 2px #000;
    padding:12px 10px;
}

.importantTopicContent a{
    display: block;
    background: #f3f3f3;
    border: none;
    width: 95px;
    border-radius: 2px;
    text-align: center;
    padding: 7px 10px;
    font-size: 14px;
    margin: 10px 0 10px 10px;

}

.importantTopicContent a:hover{
    text-decoration: underline;
}

/*Community Main Section*/
main a {
    padding: 15px 0;
    display: block;
    transition: all 0.5s;
}

main span{
    transition: padding-left 0.5s;
}

main a:hover span{
    padding-left: 5px;
}

main a:hover{
    color: #7ac64d;
}

/* COMMUNITY Main Left Container */

.companyMainContainerLeft{
    padding:30px 10px;
}

.companyMainContainerLeft > h2{
    padding: 15px 0 15px 30px;
}

.companyMainContainerLeft h3{
    padding:10px 0;
    font-size: 18px;
    font-family: var(--heading);
}

.companyMainContainerLeft p{
    font-size: 15px;
    font-weight: 300;
}

.companyMainContainerLeft article{
    padding: 10px;
}

.companyContainerTopLeft{
    padding: 15px 30px;
}

.companyContainerBottomLeft{
    background:#f3f3f3;
    margin: 15px 30px;
}

/*Main Company Container Right*/

.companyMainContainerRight{
    padding: 30px 10px;
}

.companyMainContainerRight > h2{
    padding: 15px 0 15px 30px;
}

.companyMainContainerRight article{
    display: grid;
    grid-template-columns: 1fr 3fr;
    padding: 15px 0;
    border-bottom: 1px solid #7ac64d; /*this color can be changed to suit companies requirement*/
}

.companyMainContainerRight article:first-child{
    border-bottom: none;
}

.companyMainContainerRight img{
    width: 100px;
    height: 100px;
    align-self: center;
    float: right;
}

.companyMainContainerRight h4{
    text-align: center;
    text-transform: uppercase;
    font-weight:300;
    font-size:12px;
    align-self: center;
}

.companyMainContainerRight h2{
    font-size: 18px;
    padding:10px 0;
    font-family: var(--heading);
}

.companyMainContainerRight p{
    font-size: 15px;
    font-weight: 300;
}

.companyMainContainerRight article div{
    margin-right: 10px;
}

/*Creating the Footer*/
footer {
    background: #252525;
    color: #f3f3f3;
    padding: 30px;
    margin-bottom: 0;
    position: fixed;
}

footer h2{
    padding: 10px 0;
}

footer p{
    padding: 10px 0;
    line-height: 1.3;
}

.companyFooterLeft, .companyFooterRight{
    margin: 0 20px;
}

footer > p{
    text-align: center;
    opacity: 0.8;
    margin-top: 20px;
}

.companyFooterRight i{
    font-size: 1.8rem;
    color: #808080;
}

.companyFooterRight input{
    font-size: 18px;
    border: none;
    background: transparent;
    outline: none;
    color:#808080;
    padding-right: 10px;
    width: 100%;
}

.companyFooterRight div{
    display: flex;
    align-items: center;
    justify-content:flex-start;
    width: 200px;
    padding: 10px 0;
    border-bottom: 1.6px solid #808080;
}



@media(max-width: 460px){
    .importantTopicContent h2{
        font-size: 16px;

    }
    /*Making Company's Main Container Right responsive*/
    .companyMainContainerRight article{
        display: block;
    }

    .companyMainContainerRight article img{
        display:none;
    }

}

@media (max-width: 500px) {
    .companyMainContainerRight article{
        grid-template-columns: 1fr 3fr;
        grid-template-rows: 1fr 1fr;
    }

    .companyMainContainerRight article h4{
        grid-row: 1/2;
        grid-column: 1/2;
        align-self: flex-start;
    }

    .companyMainContainerRight article img{
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .companyMainContainerRight article div{
        grid-row: 1/3;
        grid-column: 2/3;
    }
}

@media(min-width: 768px) {
    /*.companyBannerSubContent{*/
    /*    display: grid;*/
    /*    grid-template-columns: repeat(2, 1fr);*/
    /*}*/

    .companyContainerBottomLeft{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }


}
.project-info__container, .community-info__container, .event-info__container {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-content: center;
}

.projectImageContainer, .companyBannerSubContent, .eventImageContainer {
    display: grid;
    grid-template-columns: 300px 300px;
    grid-template-rows: 300px 300px;
    width: 75%;
    gap: 10px;
}

.projectImageContainer img, .eventImageContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media(min-width:800px) { /*Navigation*/
    .hamBtn, .timesBtn{
        display: none!important;
    }
    .navContainer{
        display: flex;
        background: #252525;
        align-items: center;
        flex-wrap: wrap;
    }
    .topHeader{
        flex: 0 0 15%;
    }
    .navBar{
        flex: 1 0 auto;
        height: 100%;
        background: transparent;
    }
    .navBar nav ul{
        display: flex;
        justify-content: center;
    }
    .navBar nav ul li{
        padding-right: 30px;
    }
    .navBar nav ul li:hover{
        background: none;
    }
    /*Social media icon when full screen*/
    .socialMediaIcons{
        flex: 0 1 30%;
        display: block;
        margin: 0 auto;
    }
    .socialMediaIcons .fab{
        color: #fff;
        font-size: 2rem;
    }
    .socialMediaIcons ul{
        display: flex;
        justify-content: space-between;
        padding: 0 20px;
    }
    .socialMediaIcons ul li{
        padding: 20px;
    }

    .companyFooterContainer{
        display:flex;
    }

    .companyFooterLeft, .companyFooterRight{
        flex: 1;
    }
}

@media (min-width: 992px) {
    main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }
}




@media (min-width: 1080px) {
    /*.companyBanner{*/
    /*    grid-template-columns: 1fr 2fr;*/
    /*}*/
}

/*in order to vertical center the header elements*/
.container-fluid{
    padding-right:0 !important;
    padding-left: 0 !important;
}
h1,ul{
    margin-bottom: 0 !important;
}
