#login-page{
    height: 60vh;
    padding: 10px;
    display: flex;
    justify-content: center;
}
#login-page .container{
    margin: 20px 0px;
}
h1{
    background-color: #abc6be;
    border: 1px solid teal;
    padding: 5px;
    text-align:center;
    width: 100%;
    border-radius: 5px;
}
.login-container, row{
    min-height: 80vh !important;
}
.master-container{
    position:relative;
    background-color: #abc6be;
}

.form-container{
    position:absolute;
    padding: 10px;
    background-color:whitesmoke;
    border: 5px solid teal;
    width: 600px;
    height: 200px;
    top: calc(40vh - 200px);
    left: calc(50vw - 350px);
}

.button-container{
    text-align:center;
    padding: 10px 0px;
}
.button-container .btn{
    width: 100%;
}
