#signup-page{
    height: 70vh;
    padding: 10px;
    display: flex;
    justify-content: center;
}
#signup-page .container{
    margin: 20px 0px;
}
h1{
    background-color: #abc6be;
    border: 1px solid teal;
    padding: 5px;
    text-align:center;
    border-radius: 5px;
}

.button-container{
    text-align:center;
    padding: 10px 0px;
}
.button-container .btn{
    width: 100%;
}
