<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head th:replace="fragments/base::common-header(~{::title},~{::link})">
    <meta charset="UTF-8">
    <title>Create Project</title>
    <link th:href="@{/css/community.details.styles.css}" rel="stylesheet"/>

    <!--    Google Fonts connect-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Eczar&family=Montserrat&family=Oswald:wght@200&display=swap" rel="stylesheet">
</head>
<body th:replace="fragments/base::common-body(~{::#community-details},~{} ,~{})">
<div id="community-details">


</div>
<!--Attach JS here-->

</body>
</html>